# Database
DATABASE_URL="postgresql://postgres:postgres@localhost:5432/str_db"

# Redis (BullMQ)
REDIS_URL="redis://localhost:6379"

# Blockchain RPC
RPC_HTTP_URL=""

# Service config
NODE_ENV="development"
